flow_Autoai.json
[{"id":"7d275580.b4a82c","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"9f1aabb.24e6f58","type":"ui_form","z":"7d275580.b4a82c","name":"","label":"","group":"d6ea82c3.6920f","order":1,"width":"0","height":"0","options":[{"label":"Country\t","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Developed(1)/Devloping(0)","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"Infant deaths\t","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol (optional)","value":"f","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B (optional)","value":"h","type":"number","required":true,"rows":null},{"label":"Measles (optional)","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"Under-five deaths","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure (optional)","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"p","type":"number","required":true,"rows":null},{"label":"GDP","value":"q","type":"number","required":true,"rows":null},{"label":"Population (optional)","value":"r","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"s","type":"number","required":true,"rows":null},{"label":"thinness  5-9 years","value":"t","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"u","type":"number","required":true,"rows":null},{"label":"Schooling","value":"v","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","p":"","q":"","r":"","s":"","t":"","u":"","v":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":90,"y":100,"wires":[["1b83ec41.5bae24"]]},{"id":"1b83ec41.5bae24","type":"function","z":"7d275580.b4a82c","name":"pre token","func":"//make user given values as global variables\n\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\nglobal.set(\"v\",msg.payload.v);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"a\",msg.payload.a);\n//following are required to receive a token\nvar apikey=\"bKsuvF3XBaH5-AxS7TxcW_Dy7DXsD64he__S8sOyudt1\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":100,"wires":[["c08b2459.2f58b8"]]},{"id":"2be7b674.000baa","type":"http request","z":"7d275580.b4a82c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/51a72a69-009a-4d57-bf09-43b5453b32aa/predictions","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":180,"wires":[["7fb8d6a0.397048","59bc0a1c.6cc574"]]},{"id":"7fb8d6a0.397048","type":"debug","z":"7d275580.b4a82c","name":"msg2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"59bc0a1c.6cc574","type":"function","z":"7d275580.b4a82c","name":"getFrom Endpoint","func":"msg.payload=Math.round(msg.payload.predictions[0].values[0][0]*1000)/1000 +' years';\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["25cfeec3.669b12","4da32ed5.3e192","7fb8d6a0.397048"]]},{"id":"68fe7e9e.8c639","type":"debug","z":"7d275580.b4a82c","name":"msg1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"8402dd6a.fd5fc","type":"function","z":"7d275580.b4a82c","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"4438f8e2-b4dd-4a9b-99fe-f31997698fe8\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\n\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar g = global.get(\"g\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar n = global.get(\"n\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\nvar v = global.get(\"v\");\nvar a = global.get(\"a\");\nvar f = global.get(\"f\");\nvar  h= global.get(\"h\");\nvar i = global.get(\"i\");\nvar m = global.get(\"m\");\nvar r = global.get(\"r\");\n//send the user values to service endpoint\nmsg.payload = {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,p,q,r,s,t,u,v]]}]}\nreturn msg;//[a,b,c,d,e,f,g,h,i,j,k,l,m,n,p,q,r,s,t,u,v]\n//{\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [array_of_values_to_be_scored, another_array_of_values_to_be_scored]}]}","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["2be7b674.000baa"]]},{"id":"c08b2459.2f58b8","type":"http request","z":"7d275580.b4a82c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":80,"wires":[["8402dd6a.fd5fc","68fe7e9e.8c639"]]},{"id":"25cfeec3.669b12","type":"ui_text","z":"7d275580.b4a82c","group":"d6ea82c3.6920f","order":2,"width":"6","height":"2","name":"","label":"-: Prediction :-","format":"{{msg.payload}}","layout":"col-center","x":780,"y":340,"wires":[]},{"id":"2290dcf.d942e24","type":"ui_audio","z":"7d275580.b4a82c","name":"","group":"d6ea82c3.6920f","voice":"en-US","always":"","x":740,"y":440,"wires":[]},{"id":"4da32ed5.3e192","type":"function","z":"7d275580.b4a82c","name":"audio_fn","func":"msg.payload='The Life expectancy of given data is '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":400,"wires":[["2290dcf.d942e24"]]},{"id":"d6ea82c3.6920f","type":"ui_group","z":"","name":"Life Expectancy","tab":"4618ed2c.b94b34","order":1,"disp":true,"width":"6","collapse":false},{"id":"4618ed2c.b94b34","type":"ui_tab","z":"","name":"Machine Learning Model","icon":"dashboard","disabled":false,"hidden":false}]