flows (2).json
[{"id":"852f24e4.b0ca38","type":"tab","label":"SmartIntenz","disabled":false,"info":""},{"id":"5ec7ed11.e8f494","type":"ui_form","z":"852f24e4.b0ca38","name":"","label":"","group":"d6ea82c3.6920f","order":1,"width":"0","height":"0","options":[{"label":"Country\t","value":"a","type":"text","required":false,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Developed(1)/Devloping(0)","value":"c","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"Infant deaths\t","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol (optional)","value":"f","type":"number","required":false,"rows":null},{"label":"Percentage Expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B (optional)","value":"h","type":"number","required":false,"rows":null},{"label":"Measles (optional)","value":"i","type":"number","required":false,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"Under-five deaths","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure (optional)","value":"m","type":"number","required":false,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"p","type":"number","required":true,"rows":null},{"label":"GDP","value":"q","type":"number","required":true,"rows":null},{"label":"Population (optional)","value":"r","type":"number","required":false,"rows":null},{"label":"thinness  1-19 years","value":"s","type":"number","required":true,"rows":null},{"label":"thinness  5-9 years","value":"t","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"u","type":"number","required":true,"rows":null},{"label":"Schooling","value":"v","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","p":"","q":"","r":"","s":"","t":"","u":"","v":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":70,"y":100,"wires":[["d8a44f0e.020ac"]]},{"id":"d8a44f0e.020ac","type":"function","z":"852f24e4.b0ca38","name":"pre token","func":"//make user given values as global variables\n\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\nglobal.set(\"v\",msg.payload.v);\n\n//following are required to receive a token\nvar apikey=\"bKsuvF3XBaH5-AxS7TxcW_Dy7DXsD64he__S8sOyudt1\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["48aa22f1.4e3e3c"]]},{"id":"744327e4.cd4ac8","type":"http request","z":"852f24e4.b0ca38","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/4438f8e2-b4dd-4a9b-99fe-f31997698fe8/deployments/0679bfd1-d07e-47c7-a1e2-a2384fca1939/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["b3e9cc62.9b969","4a6ba7ed.cffd58"]]},{"id":"c8a5eac8.bd02a8","type":"debug","z":"852f24e4.b0ca38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":280,"wires":[]},{"id":"4a6ba7ed.cffd58","type":"function","z":"852f24e4.b0ca38","name":"getFrom Endpoint","func":"msg.payload=Math.round(msg.payload.values[0][0]*1000)/1000 +' years';\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["c8a5eac8.bd02a8","eb1518b.18773e8","ff82d56b.d8f878"]]},{"id":"b3e9cc62.9b969","type":"debug","z":"852f24e4.b0ca38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"830882f5.9222a","type":"function","z":"852f24e4.b0ca38","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"4438f8e2-b4dd-4a9b-99fe-f31997698fe8\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\n\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar g = global.get(\"g\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar n = global.get(\"n\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\nvar v = global.get(\"v\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Year', 'Status', 'Adult Mortality', 'infant deaths','percentage expenditure', ' BMI ', 'under-five deaths ', 'Polio','Diphtheria ', ' HIV/AIDS', 'GDP', ' thinness  1-19 years',' thinness 5-9 years', 'Income composition of resources', 'Schooling'],\n\"values\":[[b,c,d,e,g,j,k,l,n,p,q,s,t,u,v]]};\n//['Year', 'Status', 'Adult Mortality', 'infant deaths','percentage expenditure', ' BMI ', 'under-five deaths ', 'Polio','Diphtheria ', ' HIV/AIDS', 'GDP', ' thinness  1-19 years',' thinness 5-9 years', 'Income composition of resources', 'Schooling']\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["744327e4.cd4ac8"]]},{"id":"48aa22f1.4e3e3c","type":"http request","z":"852f24e4.b0ca38","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":80,"wires":[["830882f5.9222a"]]},{"id":"eb1518b.18773e8","type":"ui_text","z":"852f24e4.b0ca38","group":"d6ea82c3.6920f","order":2,"width":"6","height":"2","name":"","label":"-: Prediction :-","format":"{{msg.payload}}","layout":"col-center","x":760,"y":340,"wires":[]},{"id":"5a88cb43.c1c4b4","type":"ui_audio","z":"852f24e4.b0ca38","name":"","group":"d6ea82c3.6920f","voice":"en-US","always":"","x":720,"y":440,"wires":[]},{"id":"ff82d56b.d8f878","type":"function","z":"852f24e4.b0ca38","name":"audio_fn","func":"msg.payload='The Life expectancy of given data is '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["5a88cb43.c1c4b4"]]},{"id":"d6ea82c3.6920f","type":"ui_group","z":"","name":"Life Expectancy","tab":"4618ed2c.b94b34","order":1,"disp":true,"width":"6","collapse":false},{"id":"4618ed2c.b94b34","type":"ui_tab","z":"","name":"Machine Learning Model","icon":"dashboard","disabled":false,"hidden":false}]